header
{
	display:flex;
	justify-content: center;
	align-items: center;
	background: gray;
}

body 
{
	height: 10000px
}

.navLink
{
	padding: 0 25px;
}

#logo
{
	width: 5%;
	height: 5%;
}

/*.container
{
	display: grid;
	grid-template-columns: [content] minmax(0, 1fr) [images] minmax(0, 1fr);
}*/


.container
{
	display: grid;
	grid-template-columns: [content] 1fr [images] 1fr
}

.content 
{
	grid-column: content;
	background: blue;

}

#l-splash
{

}

.images
{
	grid-column: images;
	background: yellow;
}

.spacing {
    height: 100px;
}

.image-block {
    width: 100%;
    height: 200px;
}

/*#r-splash
{
`	
}*/
