header
{
	display:flex;
	justify-content: center;
	align-items: center;
	background: #fffaf0;
	position: sticky;
	width:100%;
	top:0;
	border: 2px solid #acbd93;
	border-bottom: 0;
}

body 
{
	max-width: 100%;
    overflow-x: hidden;
    height: 1000px
    padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	color: #fffaf0;
	font-weight: 200;
}

.nav
{
	position: -webkit-sticky;
	position: sticky;
	top: 0%;
	color: #2f6e84;
}

.navLink
{
	padding: 0 25px;
	font-weight: 300;
	text-transform: uppercase;

}

#logo
{
	width: 5%;
	height: 5%;
}

#blob
{
	width: 2.25%;
	height: 2.25%;
	display: block;
	margin: 0 auto;
}

.container
{
	display: grid;
	grid-template-columns: [content] 1fr [images] 1fr
}

.content 
{
	grid-column: content;
	background: #2f6e84;

}

.title
{
	font-size: 2.5vw;
	padding-bottom: 2.5%;
}

.section-story
{	
	margin: 6vw 0;
	padding: 0 4vw;
}

.story-text
{
	font-size: 1.1vw;
	line-height: 1.6;
}

.section-menu, .section-awards, .section-contact
{
	margin-bottom: 6vw;
	padding: 0 4vw;

}

.menu-fav
{
	font-size: 1.8vw;
}

.menu-name
{
	font-size: 1.5vw;
	margin-bottom: -12px;
}

.menu-desc
{
	font-size: 1.2vw;
	line-height: 1.6;
	margin-bottom: 4vh;
}

#menu-link
{
	font-size: 1.8vw;
	text-transform: uppercase;
	text-decoration: none;
}

.award-title
{
	font-size: 1.8vw;
	text-align: center;
	line-height: 1.6;
	margin-bottom: .5vh;
}

.award-publisher
{
	font-size: 1.2vw;
	text-align: center;
	line-height: 1.6;
	margin-bottom: 3.5vh;
}

.award-link
{
	text-decoration: none;
}

.contact-desc
{
	font-size: 1.2vw;
	margin-bottom: -10px;
	line-height: 3vw;
}

.contact-links
{
	text-decoration: none;
}



.time
{
	font-size: 70%;
}




/*right grid*/

.images
{
	grid-column: images;
	text-align: center;
	background: #ffffff;

}
		
.spacing {
    height: 125px;
    width: 100%;
}

#caption
{
	padding-top: 5%;
	font-weight: 300;
	text-transform: uppercase;
	color: #acbd93;

}

.image-greet {
  	background: url("https://images.unsplash.com/photo-1511910849309-0dffb8785146?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
  	calc(75% + 200px) 250px /700px auto;

}

.image-about {
  	background: url("https://images.unsplash.com/photo-1519288997835-7ae47de1b588?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80")
  	calc(75% + 200px) 250px /800px auto;

}

.image-menu {
  	background: url("https://images.unsplash.com/photo-1527498580783-4656d37cba65?ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80")
  	calc(75% + 200px) 250px /750px auto;

}

.image-press {
  	background: url("https://oldtowncrier.files.wordpress.com/2014/10/chef-phuong-ho-14-8-7-27.jpeg")
  	calc(75% + 200px) 250px /750px auto;

}

.image-contact {
  	background: url("https://images.unsplash.com/photo-1483648969698-5e7dcaa3444f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
  	calc(75% + 200px) 250px /800px auto;

}

.image-greet, .image-about, .image-menu, .image-press, .image-contact{
	width: 600px;
  	height: 500px;
  	margin: 100px auto 0;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: right;
}
